* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
  text-decoration: none;
}
body {
  background-color: black;
}
.header {
  height: 80px;
  top: 0;
  padding: 40px 40px;
  background: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid white;
}
.menu {
  display: flex;
  width: 40%;
  justify-content: space-between;
  list-style: none;
}
.menu li a {
  color: azure;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  transition: .3s linear;
}
.menu li a:hover {
  text-decoration: underline;
}
.logoclass {
  color: white;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  transition: .3s linear;
}
.todolisttext {
  color: white;
  text-align: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

footer {
  background-color: black;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-content p {
  flex: 1;
  margin: 5px;
}

@media (max-width: 768px) {
  .footer-content {
      flex-direction: column;
  }
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  margin-top: 80px;
  background-color: transparent;
  padding: 20px;
  color: white;
  border: 3px solid white;
}
.posts{
  color: white;
  padding: 40px 40px;
}
.sort {
  width: 100px;
  height: 40px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  margin-right: 20px;
  cursor: pointer;
  transition: .3s linear;
  margin-top: 60px;
}
.sort:hover {
  background-color: white;
  color: black;
}
.posttitle {
  color: red;
  margin-top: 50px;
  text-transform: uppercase;
}
.posttext {
  font-size: 17px;
}